:root {
    --burgandy:  #7B184C;
    --blue: #003366;
    --green: #007377;
    --yellow: #EBAD2E;
    --light: #F1F1F3;
    --gold: #8F7242;
    --gray: #C9C9C9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/Gotham-Light.woff') format('woff');
    font-weight: lighter;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: normal;
}

body {
    font-family: 'Gotham Medium';
    color: #000;
    width: 100%;
}


.hero {
    background-image: url(../images/fiftieth_gold.png), linear-gradient(90deg, rgb(0, 51, 102, .73) 0%,  rgb(123, 24,76, .73)100%), url(../images/brooksherooption.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 50%, auto, cover;
    background-position: top 1.5em left 1.5em, center , 50% 50%;
    color: var(--light);
    display: flex;
    align-content: center;
    align-items: center;
    height: 100vh;
}

.hero header {
    padding-left: 2em;
    flex-grow: 2;
}

.title {
    font: Bold 2.6em 'Gotham Bold';
    letter-spacing: -.9px;
    color: var(--light);
}

.sub-title {
    font-size: 1.5em;
    font-variant: small-caps;
}

.decades {
    padding-right: 1em;
}

.decades li {
    list-style: none;
    margin-bottom: 1.5em;
}

.decades a {
    color: var(--gold);
}

.seventies  .event{
    background-image: url(../images/logo_sq.png), url(../images/Decades_70.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, cover;
    background-position:  top 1.5em left 1.5em, center;
}

.eighties  .event{
    background-image: url(../images/logo_sq.png), url(../images/80-01.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, cover;
    background-position:  top 1.5em left 1.5em, center;
    color: var(--light);
}

.ninties .event {
    background-image: url(../images/logo_sq.png), url(../images/90-02.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, cover;
    background-position:  top 1.5em left 1.5em, center;
    color: var(--light);
}

.aughts .event{
    background-image: url(../images/logo_sq.png), url(../images/Decades_00.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, cover;
    background-position:  top 1.5em left 1.5em, center;
}

.teens .event{
    background-image: url(../images/logo_sq.png), url(../images/Decades_10.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, cover;
    background-position:  top 1.5em left 1.5em, center;
    color: var(--blue);
}

.twenties .event{
    background-image: url(../images/logo_sq.png), url(../images/Decades_20.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, cover;
    background-position:  top 1.5em left 1.5em, center;
}

.decade {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    text-align: center;
}

.event {
    align-self: center;
    height: 100vh;
    width: 100vw;
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.event h2 {
    padding: 1.5em 1em 0 0;
    font-size: 2em;
    font-family: 'Gotham Bold';
    flex-grow: 1;
}

.content-wrap {
    align-self: center;
    flex-grow: 1;
}

.event img {
    display: none;
}

.month {
    font-family: 'Gotham Bold';
    font-size: 1.5em;
    font-variant: small-caps;
    color: var(--light);
    opacity: .5;
}

.teens .month {
    color: var(--blue);
}

.event h3 {
    font-family: 'Gotham Light';
    font-size: 6em;
    font-weight: 400;
    letter-spacing: -6.8px;
}

.content {
    border-top: 3px solid var(--light);
    padding-top: 2em;
    margin: 0 4em;
    line-height: 1.6;
}

.teens .content {
    border-top: 3px solid var(--blue);
}

@media( min-width: 460px) {

    .hero {
        background-size: 20%, auto, cover;
    }

    .seventies .event,  .eighties .event, .ninties .event, .aughts .event, .teens .event, .twenties .event {
        background-size: 50%;
    }

    .event {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .event img {
        grid-column: 1;
        display: block;
        margin-left: 1em;
    } 

    .content-wrap {
        grid-column: 2;
        display: flex;
        flex-direction: column;
    }
    .event .month {
        color: var(--gold);
    }
    .event h3 {
        color: #000;
    }

    .event .content {
        color: #000;
    }
}
